*{
    clear: both;
}
*{
<<<<<<< HEAD
    clear:lolool
}
=======
    clear: both;
}*{
    clear: both;
}*{
    clear: both;
}*{
    clear: both;
}*{
    clear: both;
}
>>>>>>> 28dd12606d0b65c52f039dc58e122c41edb25748
